
body {
	font-family: 'Lato';
	color: #333;
	background-color: #f2f2f2;
}

img {
	vertical-align: bottom;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.sns-icon,
.sns-box,
.work-message,
.what-phone,
.what-text,
.text-center {
  text-align: center;
}

.pointer {
	cursor: pointer;
}

.footer-text {
	text-align: right;
}

.btn
.title-font,
.sub-title-font,
.what-text-title,
.text-body,
.work-text-title,
.skill-title,
.skill-body,
.footer-text {
	font-family: 'Raleway';
}

.hedder {
	position: fixed;
	width: 100%;
	padding: 15px 0;
	z-index: 1;
}

.header-btn {
	float: right;
	padding: 14px 12px;
}

.text-body {
	font-size: 20px;
	line-height: 28px;
}

.title-font {
	font-size: 90px;
	font-weight: 700px;
}

.sub-title-font {
	margin-top: 20px;
	font-size: 30px;
	color: #c0c0c0;
}

.what-box {
	display: flex;
	justify-content: space-between;
}

.work-list li a {
	opacity: 0.7;
}

.work-list li a:hover {
	opacity: 1;
}

.btn,
.sns-icon,
.work-list li a {
	transition: all 0.5s;
}

.skill-body {
	font-size: 16px;
	margin-top: 16px;
}

.sns-icon {
	width: 185px;
	padding: 20px;
	box-sizing: border-box;
}

.inner,
.work-message {
	margin: 0 auto;
}

.skill-img-contents {
	margin-top: 70px;
}

.what-text-title {
	margin-top: 20px;
}

.work-text-title {
	margin-bottom: 40px;
}

.main {
	padding-top: 75px;
}

.what-text-body {
	padding: 35px 0 25px;
}

.mail-btn {
	line-height: 43px;
	padding: 14px 20px;
}

.title-box {
  padding: 250px 0;
}

.what {
	padding-top: 50px;
}

.work {
	padding: 60px 0 70px;
}

.skill-box {
	padding: 70px 0 100px;
}

.sns {
	padding: 200px 0;
}

.footer {
	padding: 20px 0 25px;
}

.work-list,
.sns-box {
	font-size: 0;
}

.btn {
	font-size: 12px;
}

.what-text-title,
.work-text-title,
.skill-title {
	font-size: 24px;
}

.icon-font {
	font-size: 45px;
}

.text-box {
	width: 650px;
}

.sns-box {
	width: 740px;
}

.what-phone {
	width: 35%;
}

.what-text {
	width: 65%;
}

.btn,
.what,
.footer {
	background-color: #74cfae;
}

.skill {
	background-color: #4e4e4e;
}

.hedder,
.sns-icon:hover {
	background-color: #fff;
}

.title-font,
.sns-icon {
	color: #74cfae;
}

.btn,
.what-text-title,
.skill-title,
.skill-body,
.footer-text,
.white-text {
	color: #fff;
}

.btn:hover {
	color: #333;
}


@media screen and (min-width:1200px) {
	.inner {
		width: 1100px;
	}

	.work-message {
		width: 756px;
		margin-top: 90px;
	}

	.work-list li {
		float: left;
		margin: 80px 100px 0 0;
	}

	.work-text-body {
		width: 75%;
		margin-right: 90px;
	}

	.work-list li:first-child,
	.work-list li:nth-child(2),
	.work-list li:nth-child(3) {
		margin-top: 0;
	}

	.work-list li:nth-child(3n) {
		margin-right: 0;
	}

	.mail-btn-box,
	.work-text-body {
		float: left;
	}

	.skill-img-box:first-child {
		margin-left: 0;
	}

	.skill-img-box {
		display: inline-block;
		margin-left: 180px;
	}
}

@media screen and (max-width:1199px) {

	.inner {
		width: 97%;
	}

	.what-box {
		display: block;
	}

	.what-phone,
	.what-text {
		width: 80%;
		margin: 0 auto;
	}

	.work-message,
	.work-list li:nth-child(3n+1) {
		margin-top: 80px;
	}

	.mail-btn-box {
		margin-top: 40px;
	}

	.skill-img-box {
		margin-bottom: 80px;
	}

	.skill-img-box:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width:767px) {

	.title-box {
		padding: 160px 0 130px;
	}

	.title-font {
		font-size: 80px;
	}

	.sns-icon {
		width: 100%;
	}

	.sns {
		padding: 50px 0;
	}

	.header-btn {
		display: none;
	}

	.hedder-hidden-btn,
	.hedder-hidden-btn p {
		border: solid 1px #ddd;
	}

	.hedder-hidden-btn {
		width: 20px;
		padding: 10px;
		border-radius: 4px;
		float: right;
	}

	.hedder-hidden-btn p {
		margin-top: 4px;
	}

	.hedder-hidden-btn p:first-child {
		margin-top: 0;
	}
}